:root {
  --color-accent: hsl(244, 80%, 60%);
  --color-accent-hover: hsl(244, 80%, 56%);
}

body {
  max-width: 1280px;
  margin: 16px auto 0 auto;
  padding: 0 16px 0 16px;
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

/* Header styles */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 16px 0;
}

.header a {
  color: #000;
}

.logo-navbar {
  display: flex;
  align-items: center;
  column-gap: 48px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-accent) !important;
}

.logo i {
  padding-top: 2px;
}

.header-navbar {
  display: flex;
  column-gap: 32px;
}

.header-navbar a:hover,
.header-navbar a.active {
  color: var(--color-accent);
  text-decoration: underline 2px;
  text-underline-offset: 8px;
}

.header-navbar-animation {
  transition: all 600ms ease;
}

.mobile-header-close-btn {
  display: none;
}

.login-register-desktop-btn {
  display: flex;
}

.login-register-desktop-btn,
.login-register-mobile-btn {
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  padding: 14px 20px;
  border-radius: 100px;
  color: #fff !important;
  background: var(--color-accent);
}

.login-register-desktop-btn span,
.login-register-mobile-btn span {
  margin-top: -6px;
}

.login-register-desktop-btn:hover,
.login-register-mobile-btn:hover {
  background: var(--color-accent-hover);
}

.login-register-mobile-btn {
  display: none;
}

.hamburger-menu-icon {
  display: none;
}

@media (max-width: 1024px) {
  .header-navbar {
    position: absolute;
    flex-direction: column;
    row-gap: 32px;
    top: 0;
    right: -320px;
    padding: 64px 32px;
    width: 240px;
    height: 100dvh;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  }

  .header-navbar a:hover,
  .header-navbar a.active {
    text-decoration: none;
    border-right: 2px solid var(--color-accent);
    padding-right: 4px;
  }

  .mobile-header-close-btn {
    display: block;
    position: absolute;
    top: 32px;
    left: 24px;
  }

  .login-register-desktop-btn {
    display: none;
  }

  .login-register-mobile-btn {
    display: flex;
    margin-top: 16px;
  }

  .hamburger-menu-icon {
    display: block;
    position: absolute;
    left: 16px;
  }
}
