:root {
  --color-accent: hsl(244, 80%, 60%);
  --color-accent-hover: hsl(244, 80%, 56%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  max-width: 1280px;
  margin: 16px auto 0 auto;
  padding: 0 16px 0 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  text-align: justify;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 16px 0;
}

.header a {
  color: #000;
}

.logo-navbar {
  display: flex;
  align-items: center;
  column-gap: 48px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-accent) !important;
}

.logo i {
  padding-top: 2px;
}

.header-navbar {
  display: flex;
  column-gap: 32px;
  z-index: 1000;
}

.header-navbar a:hover,
.header-navbar a.active {
  color: var(--color-accent);
  text-decoration: underline 2px;
  text-underline-offset: 8px;
}

.header-navbar-animation {
  transition: all 600ms ease;
}

.mobile-header-close-btn {
  display: none;
}

.login-register-desktop-btn {
  display: flex;
}

.login-register-desktop-btn,
.login-register-mobile-btn {
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  padding: 10px 20px;
  border-radius: 100px;
  color: #fff !important;
  background: var(--color-accent);
}

.login-register-desktop-btn span,
.login-register-mobile-btn span {
  margin-top: -6px;
}

.login-register-desktop-btn:hover,
.login-register-mobile-btn:hover {
  background: var(--color-accent-hover);
}

.login-register-mobile-btn {
  display: none;
}

.hamburger-menu-icon {
  display: none;
}

/* Main */
.banners-container {
  display: flex;
  column-gap: 16px;
  height: 640px;
}

.banner {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active-banner {
  width: 100%;
  border-radius: 32px;
}

.deactive-banner {
  width: 10%;
  border-radius: 16px;
}

.banner-info {
  position: absolute;
  inset: auto 0 0 0;
  padding: 24px 32px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  color: #fff;
  transition: all 300ms ease;
}

.banner-text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 48px;
}

.banner-description {
  margin-top: 16px;
}

.link-arrow {
  transform: rotate(45deg);
}

.article-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.author-date {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.article-author,
.article-date {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 100;
}
.article-author img {
  width: 32px;
  border-radius: 100%;
}

.article-date-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 100%;
}

.article-tags {
  display: flex;
  column-gap: 12px;
}

.article-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 100px;
  font-size: 12px;
}

.banner-animation {
  transition: all 300ms ease;
}

.hide a {
  bottom: -1600px;
}

@media (max-width: 1024px) {
  .header-navbar {
    position: absolute;
    flex-direction: column;
    row-gap: 32px;
    top: 0;
    right: -320px;
    padding: 64px 32px;
    width: 240px;
    height: 100dvh;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  }

  .header-navbar a:hover,
  .header-navbar a.active {
    text-decoration: none;
    border-right: 2px solid var(--color-accent);
    padding-right: 4px;
  }

  .mobile-header-close-btn {
    display: block;
    position: absolute;
    top: 32px;
    left: 24px;
  }

  .login-register-desktop-btn {
    display: none;
  }

  .login-register-mobile-btn {
    display: flex;
    margin-top: 16px;
  }

  .hamburger-menu-icon {
    display: block;
    position: absolute;
    left: 16px;
  }
}
